
<div class="workspaces">
  <div class="workspaces-leftside">
    <div class="index-form form-inline justify-content-center">
        <div class="search-form">
            <%= simple_form_for :index_search, url: workspaces_path, method: :get, html: { class: 'w-100' } do |f| %>
            <div class="form-inline">
              <%= f.input :search_city, class: "form-control rounded-left", placeholder: "Area or Postcode", label: false %>
              <%= f.input :search_distance, class: "form-control", placeholder: "Km radius", label: false  %>
            </div>
            <div class="form-inline">
              <%= f.input :amenities, as: :check_boxes, collection: Amenity.pluck(:name), input_html: { multiple: true }, label: false, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item' %>
            </div>
            <div>
              <%= f.submit "Search", class: "btn btn-info"%>
            </div>
          <% end %>
        </div>
      </div>

    <div class="workspaces-cards">
      <% @workspaces.each do |workspace| %>
      <%= link_to workspace_path(workspace), class: "workspace-link" do %>
      <div class="workspace-card">
        <% if workspace.photos.attached? %>
          <%= cl_image_tag workspace.photos.first.key, class: "img" %>
        <% else %>
          <img class="card-image-workspace" src="https://images.unsplash.com/flagged/photo-1572392640988-ba48d1a74457?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="painting">
        <% end %>
        <div class="product-cards">
            <h5>£<%= workspace.prices %></h5>
          <h2 class="workspace-card-name"> <%= workspace.name %></h2>
          <div class="card-icons">
            <% workspace.amenities.each do |amenity| %>
              <%= image_tag amenity_icon(amenity.name), alt: "alttext" %>
            <% end  %>
          </div>
          <div class="icon-postcode">
            <i class="fas fa-thumbtack"></i>
            <div class="address-text">
              <div>
                <p> <%= workspace.first_address_line%></p>
                <p><%= workspace.postcode %>, <%= workspace.city %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
        <% end %>
        <% end %>
    </div>
  </div>

   <div class="workspaces-rightside">
   <div id="map"
     style="width: 100%; height: 100vh"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
 </div>
</div>

