<div class="card-container">
  <div class="leftside">
    <div class="cards">
      <% @workspaces.each do |workspace| %>
      <% if workspace.id.even?  %>
      <%= link_to workspace_path(workspace) do %>
      <% if workspace.photos.attached? %>
        <%= cl_image_tag workspace.photos.first.key, class: "img" %>
        <% else %>
          <img class="img" src="https://images.unsplash.com/flagged/photo-1572392640988-ba48d1a74457?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="painting">
        <% end %>
        <p> <%= workspace.name %></p>
        <h2> <%= workspace.postcode %></h2>
      <div class="icon">
        <ul>
           <li>WiFi<img src="https://img.icons8.com/metro/25/000000/wifi.png"/></li>
           <li>Telephone<img src="https://img.icons8.com/emoji/25/000000/telephone-receiver.png"/></li>
           <li>Plugin<img src="https://img.icons8.com/android/25/000000/plugin.png"/></li>
        </ul>
      </div>
        <% end %>
        <% end %>
        <% end %>
    </div>
  </div>


 <div class="rightside">
  <div class="cards">
      <% @workspaces.each do |workspace| %>
      <% if workspace.id.odd?  %>
      <%= link_to workspace_path(workspace) do %>
<% if workspace.photos.attached? %>
        <%= cl_image_tag workspace.photos.first.key, class: "img" %>
        <% else %>
          <img class="img" src="https://images.unsplash.com/flagged/photo-1572392640988-ba48d1a74457?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="painting">
        <% end %>        <p> <%= workspace.name %></p>
        <h2> <%= workspace.postcode %></h2>
      <div class="icon">
        <ul>
           <li>WiFi<img src="https://img.icons8.com/metro/25/000000/wifi.png"/></li>
           <li>Telephone<img src="https://img.icons8.com/emoji/25/000000/telephone-receiver.png"/></li>
           <li>Plugin<img src="https://img.icons8.com/android/25/000000/plugin.png"/></li>
        </ul>
      </div>
        <% end %>
        <% end %>
        <% end %>
    </div>
 </div>
</div>
