<div class="container">
  <h2><%=@workspace.name%></h2>
  <div class=images>
    <div>
      <img id="img-large" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="workspace">
       </br>
    </div>
    <div class="small-images">
      <div class="top-image">
        <img id="img-small" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="workspace">
      </div>
      <div class="bottom-image">
        <img id="img-small" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="workspace">
      </div>
    </div>
  </div>

<div class="second-container">
  <div class= "leftside">
    <div class= "workspace-info">
      <h3>Overview</h3>
      <p> <%= @workspace.description  %></p>
      <h3>Price</h3>
      <p>£<%= @workspace.prices %> an hour</p>
      <h3>Amenities</h3>
      <p><%= @workspace.amenities %></p>
        <div class= "backbutton">
          <%= link_to 'Back', workspaces_path(@workspaces), class: "btn btn-outline-success"%>
        </div>
    </div>
  </div>

  <div class= "rightside">
    <div class= "bookingform">
      <h3>Book Now</h3>
          <%= simple_form_for [@workspace, Booking.new] do |f| %>
          <%= f.input :person_count %>
          <%= f.input :start_time %>
          <%= f.input :end_time %>
          </br>
          <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>
</div>
