<% content_for :meta_title, "#{@workspace.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @workspace.description %>
<% content_for :meta_image, cl_image_path(@workspace.photos.first.key) %>

<div class="container">
  <div class="top-container">
    <div class="top-leftside">
      <% if @workspace.photos.attached? %>
        <%= cl_image_tag @workspace.photos.first.key, height: 435, width: 856, crop: :fill, id:"img-large" %>
      <% else %>
        <img id="img-large" class="img-zoom-container" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="workspace">
      <% end %>
    </div>
    <div class="top-rightside">
      <div class="small-images">
        <% if @workspace.photos.attached? %>
          <% @workspace.photos.last(2).each_with_index do |photo, index| %>
            <%= cl_image_tag photo.key, height: 176, width: 198, crop: :fill, class: "img-small", id:"right-#{index}" %>
          <% end %>
        <% else %>
          <img class="top-image img-small" id="top-right" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="workspace">
          <img class="bottom-image img-small" id="bottom-right" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="workspace">
        <% end %>
      </div>
    </div>
</div>
  <div class="info">
    <div class="heading">
      <h2><%= @workspace.name %></h2>
    </div>
    <div class="address">
      <h3><%= @workspace.first_address_line %> <%= @workspace.city %> <%= @workspace.postcode %></h3>
    </div>
    <div class="rating">
      <p> <em>Avg Rating:</em> <% @workspace.average.floor.times do  %>
        <i class="far fa-star"></i>
        <% end %></p>
    </div>
  </div>

  <div class="second-container">
    <div class= "leftside">
      <div class= "workspace-info">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#price" role="tab" aria-controls="price" aria-selected="false">Price</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="amenity-tab" data-toggle="tab" href="#amenity" role="tab" aria-controls="amenity" aria-selected="false">Amenities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active tab-background" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p> <%= @workspace.description  %></p>
        </div>
        <div class="tab-content tab-pane fade tab-background" data-price="<%= @workspace.prices %>" id="price" role="tabpanel" aria-labelledby="price-tab">
          <p>£<%= @workspace.prices %> an hour per person</p>
        </div>
        <div class="tab-content tab-pane fade tab-background" id="amenity" role="tabpanel" aria-labelledby="amenity-tab">
          <ul class="list-group">
            <% @workspace.amenities. each do |amenity| %>
              <li class="icons"><img src=<%= amenity_icon(amenity.name) %>/></li>
            <% end %>
          </ul>
          </div>
          <div class=" tab-content tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
            <ul class="list-group">
              <% @workspace.reviews.each do |review| %>
                <li class="list-group-item">
                  <% review.rating.to_i.times do %>
                    <i class="far fa-star"></i>
                  <% end %><br>
                  <%= review.content %><br>
                  <i><%= review.user.first_name%> - <%= review.created_at.strftime("%A, %b %d") %></i>
                </li>
              <% end %>
            </ul>
        </div>
          <div>
            <%= link_to 'Leave a review', new_workspace_review_path(@workspace), class: "btn-edit btn btn-info "%>
          <% if current_user == @workspace.user %>
            <%= link_to 'Edit', edit_workspace_path(@workspace), class: "btn-edit btn btn-info"%>
          <% end %>
            <%= link_to 'Back', workspaces_path(@workspaces), class: "btn-edit btn btn-info"%>
          </div>
        </div>
      </div>
  </div>

    <% if current_user != @workspace.user %>
      <div class= "rightside">
        <div class= "bookingform p-3">
          <h3>Reserve this space</h3>
          <%= simple_form_for [@workspace, Booking.new] do |f| %>
            <%= f.input :person_count %>
            <%= f.input :start_time, as: :string %>
            <%= f.input :end_time, as: :string %>
            </br>
                <div class="price-target" data-rate="<%= @workspace.prices %>" id="total-price">
              Total: £0
                </div>
            <%= f.submit "", class: "btn btn-info", id:"book-now", class: "hidden" %>
            <button id="sweet-alert-demo" class="btn btn-info">Book Now!</button>
        <% end %>
          <% end %>
        </div>
      </div>
  </div>
