<div class="container">
  <h2>Bookings#show</h2>
    <%= @booking.workspace.name %>
    <%= @booking.workspace.postcode %>
    <%= @booking.person_count %>
    <%= @booking.start_time %>
    <%= @booking.end_time %>

    <%= link_to 'Edit booking', edit_workspace_booking_path %>
</div>
