<div class="container">
    <div class="booking-card">
        <h2>My Bookings</h2>
        <% @bookings.each do |booking| %>
          <p><%= booking.workspace.name %>
          <%= booking.workspace.postcode %>
          <%= booking.person_count %>
          <%= booking.start_time %>
          <%= booking.end_time %>
          <%= link_to 'Edit booking', edit_workspace_booking_path(booking.workspace, booking), class: "btn btn-success btn-sm" %></p>
        <% end %>
    </div>
</div>

