<div class="container">
  <h2>My Bookings</h2>
  <% @bookings.each do |booking| %>
      <p><%= booking.workspace.name %>:
      <%= booking.start_time.strftime('%a %e %B %l:%M')%> -
      <%= booking.end_time.strftime('%a %e %B %l:%M')%>
      for <%= booking.person_count %> people
      <%= link_to 'Edit booking', edit_workspace_booking_path(booking.workspace, booking), class: "btn btn-success btn-sm" %></p>
      <% end %>
</div>

