<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://images.unsplash.com/photo-1591382386627-349b692688ff?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8cmFiYml0fGVufDB8fDB8&auto=format&fit=crop&w=500&q=60", class: "avatar" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-name">
    <h3>HOP desk</h3>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "HOME", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "MEMBERSHIP", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "FIND A WORKSPACE", workspaces_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Account Page", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Messages", "#", class: "dropdown-item" %>
            <%= link_to "Add a workspace", new_workspace_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "FIND A WORKSPACE", workspaces_path, class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "HOME", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "MEMBERSHIP", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
