<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="icon-and-title">
    <img class="rabbit-icon" src="https://img.icons8.com/ios/50/000000/running-rabbit.png"/>    <div class="navbar-name">
    <h3>HOP desk</h3>
  </div>
</div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "HOME", root_path, class: "nav-link", data: {turbolinks: false} %>
        </li>
        <li class="nav-item">
          <%= link_to "FIND A WORKSPACE", workspaces_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Account Page", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Add a workspace", new_workspace_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "HOME", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "FIND A WORKSPACE", workspaces_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "LOG-IN", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "SIGN-UP", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
